*{
    font-family: Inter, sans-serif ;
}

body{
    padding: 0px;
    margin: 0px;
}

h1, h2, h3 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    padding: 20px;
}

header{
    padding: 20px;
    text-align: center;
    background: #000;
    color: whitesmoke;
}

header a{
    color: whitesmoke;
}

header:hover{
    background: #332c07;
}

button{
    background: black;
    padding: 13px 30px;
    color: whitesmoke;
    border-radius: 20px;
}

button:hover{
    background: yellow;
    color: #000;
    
}


.img-ani:hover{
    transform: scale(1.1);
    transition: 0.4ms;
}


.position{
    width: 50px;
    height: 50px;
    position: fixed;
    background: white;
    border-radius: 5px;
    bottom: 10px;
    right: 10px;
}

main img{
    width: 300px;
}

nav{
    background: #000;
}

nav li{
    list-style-type: none;
}

nav a{
    padding: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.flex-li{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

article{
    padding: 20px;
    width: 60%;
}

article h5{
    color: rgb(145, 145, 16);
}

aside{
    text-align: center;
    padding: 20px;
    width: 60%;
    height: 400px;
    background: yellow;
    margin-bottom: 20px;
    
}

.flex-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.pad{
    padding: 20px;
}

footer{
    
    background: #000;
    color: whitesmoke;
}


@media screen and (max-width: 768px) {

    .flex{
        display: flex;
        flex-direction: column;
        padding: 0px;
        
    }

    aside{
        
        height: 300px;
    }

    article{
        width: 85%;
    }

    .flex-li{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding: 10px;
    }

    .pad{
        width: 100%;
    }

    .flex-footer{
        display: flex;
        flex-direction: column;
    
    }  


}